@import url(' https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap ');
* {
	font-family: poppins;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.navbar {
	display: flex;
	align-items: center;
	height: 70px;
	justify-content: space-between;
	border-bottom: 1px solid rgba(204, 204, 204, 0.39);
}

.navbar img {
	width: 100px;
	height: 100px;
}

.navbar .links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 700px;
	padding: 12px;
}

.navbar .links a {
	padding: 10px;
	color: #000;
	letter-spacing: 2px;
	font-weight: bold;
	cursor: pointer;
	font-size: 17px;
}

.navbar .links a:hover {
	background-color: #3d2919;
	color: #fff;
	border-radius: 5px;
}

.body1 {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background: url('/assets/favicon/favicon.ico');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 50% 100%;
	background-position: center;
}

.body1 span {
	margin-top: 10px;
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.672), 0 1px 0, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
		0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020,
		0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616,
		0 14px 0 #141414, 0 15px 0 #121212;
	color: #70675b;
}

.body2 {
	height: 60vh;
	display: flex;
	margin-bottom: 20px;
}

.about-us {
	width: 100%;
	height: 485px;
	background-color: #c9a365;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us h1 {
	color: #000;
	font-size: 45px;
	font-weight: 900;
	margin-top: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.about-us p {
	width: 700px;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 1.3px;
	color: rgba(0, 0, 0, 0.71);
}

.mission {
	width: 100%;
	height: 485px;
	background-color: #fffafa;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mission h1 {
	font-size: 45px;
	font-weight: 900;
	margin-top: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
	color: #000;
}

.mission p {
	width: 700px;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 1.3px;
	color: rgba(0, 0, 0, 0.689);
}

.body3 {
	min-height: 60vh;
	margin-bottom: 0px;
	background-color: #fffafa;
}

.body3 h1 {
	font-size: 35px;
	padding: 10px;
	font-weight: 900;
	margin-top: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.service-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.services {
	position: relative;
	width: 400px;
	height: 300px;
	float: left;
	margin-right: 10px;
	text-align: center;
	margin-bottom: 30px;
	border-top: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.71);
}

.services img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.services h2 {
	text-transform: capitalize;
	position: absolute;
	bottom: 0;
	right: 0;
	background: black;
	color: white;
	margin-bottom: 0px;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s, opacity 0.5s linear;
	transition: visibility 0s, opacity 0.5s linear;
}
.services:hover {
	cursor: pointer;
}

.services:hover h2 {
	width: 100%;
	height: 100%;
	padding: 8px 15px;
	visibility: visible;
	opacity: 0.8;
}

.clients {
	min-height: 40vh;
	background-color: #c9a365;
}

.clients h1 {
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 40px;
}

.clients ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 30px;
}

.clients ul li {
	min-width: 400px;
	margin-bottom: 40px;
	list-style: circle;
	letter-spacing: 1.2px;
	font-size: 17px;
	text-transform: capitalize;
	font-weight: 600;
}

.certificates {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #c9a365;
	border-top: 1px solid rgba(0, 0, 0, 0.094);
}

.certificates h1 {
	letter-spacing: 2px;
	padding: 10px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 20px;
}

.cert-content {
	display: flex;
	justify-content: space-evenly;
}

.cert-content h3 {
	width: 600px;
	text-align: left;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 34px;
	letter-spacing: 2px;
	border-right: 1px solid #000;
	height: 30vh;
	padding: 5px;
}

.cert-content ul li {
	list-style: circle;
	margin-left: 40px;
	letter-spacing: 1.2px;
	line-height: 30px;
	font-size: 15px;
	border: 1px solid rgba(0, 0, 0, 0.45);
	margin-bottom: 10px;
	padding: 10px;
}

footer {
	min-height: 60vh;
	border-top: 1px solid rgba(0, 0, 0, 0.159);
	background-color: #3d2919;
}

footer h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 40px;
	color: #fff;
}

.cover {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.content ul li {
	letter-spacing: 1.2px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 25px;
	color: rgba(255, 255, 255, 0.662);
}

.content ul li span {
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 15px;
}

.socials {
	margin-top: 7rem;
}

.socials h2 {
	font-size: 25px;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #fff;
}

.socials i {
	font-size: 35px;
	cursor: pointer;
	margin-right: 20px;
	color: #fff;
}
.socials i:hover {
	color: blue;
}
.container {
	display: flex;
	flex-direction: column;
}

.container input {
	padding: 15px;
	font-size: 15px;
	margin-bottom: 10px;
	background-color: transparent;
	border-radius: 3px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.555);
}

.container input:focus {
	outline: none;
}

.container input::placeholder {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.529);
}

.container textarea::placeholder {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.529);
}

.container textarea {
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 3px;
	color: #fff;
	font-style: 15px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.555);
}

.container textarea:focus {
	outline: none;
}

.container button {
	padding: 15px;
	margin-bottom: 30px;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
	text-transform: capitalize;
	border-radius: 3px;
	background-color: #d04f29;
}

.quickLinks h3 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	letter-spacing: 1.5px;
	color: #fff;
}

.links-footer a {
	display: flex;
	text-transform: capitalize;
	margin-top: 20px;
	cursor: pointer;
	letter-spacing: 1.3px;
	font-weight: bold;
	font-size: 20px;
	color: #ccc;
}

.links-footer a:hover {
	text-decoration: underline;
}

.copyright-text {
	margin-top: 60px;
	font-size: 17px;
	letter-spacing: 1.2px;
	color: #fff;
}
