* {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 15px;
	justify-content: space-between;
	background-color: #d04f29;
}

.navbar h2 {
	text-transform: uppercase;
	margin-left: 50px;
}

.navbar .links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 700px;
	padding: 12px;
}

.navbar .links a {
	padding: 10px;
	color: #000;
	letter-spacing: 2px;
	font-weight: bold;
	cursor: pointer;
	font-size: 17px;
}

.navbar .links a:hover {
	background-color: #000;
	color: #fff;
	border-radius: 5px;
}

.body1 {
	height: 70vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background: #d04f29;
}

.body1 span {
	margin-top: 10px;
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828,
		0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e,
		0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
		0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
	color: #e0dfdc;
}

.body1 h1 {
	margin-top: 10px;
	letter-spacing: 3px;
	font-size: 40px;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.body2 {
	height: 60vh;
	display: flex;
	margin-bottom: 20px;
}

.about-us {
	width: 100%;
	height: 485px;
	background-color: #2f4f4f;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us h1 {
	color: #fff;
	font-size: 45px;
	font-weight: 900;
	margin-top: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.about-us p {
	width: 700px;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 1.3px;
	color: rgba(255, 255, 255, 0.726);
}

.mission {
	width: 100%;
	height: 485px;
	background-color: #d04f29;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mission h1 {
	font-size: 45px;
	font-weight: 900;
	margin-top: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.mission p {
	width: 700px;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 1.3px;
	color: rgba(0, 0, 0, 0.493);
}

.body3 {
	min-height: 60vh;
	margin-bottom: 0px;
	background-color: #2f4f4f;
}

.body3 h1 {
	font-size: 45px;
	font-weight: 900;
	margin-top: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}

.boxing {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	flex-wrap: wrap;
}

.services {
	width: 290px;
	min-height: 200px;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.782);
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

.services:hover {
	box-shadow: 0 2px 8px #fff;
}

.services h2 {
	align-items: center;
	text-transform: uppercase;
	margin-top: 25%;
	color: rgba(255, 255, 255, 0.782);
}

.reviews {
	min-height: 70vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #d04f29;
}

.reviews h1 {
	font-size: 40px;
	font-weight: 900;
	margin-top: 70px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.reviews .box {
	display: flex;
}

.single-review {
	text-align: center;
	padding: 10px;
	width: 400px;
	height: 500px;
	margin-left: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.545);
}

.single-review h2 {
	font-size: 30px;
	font-weight: 900;
	margin-top: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.single-review p {
	color: #000;
	line-height: 25px;
	letter-spacing: 1.6px;
}

footer {
	min-height: 60vh;
	border-top: 1px solid rgba(0, 0, 0, 0.159);
	background-color: #2f4f4f;
}

footer h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 40px;
	color: #fff;
}

.cover {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.content ul li {
	letter-spacing: 1.2px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 25px;
	color: rgba(255, 255, 255, 0.662);
}

.content ul li span {
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 15px;
}

.container {
	display: flex;
	flex-direction: column;
}

.container input {
	padding: 15px;
	font-size: 15px;
	margin-bottom: 10px;
	background-color: transparent;
	border-radius: 3px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.555);
}

.container input:focus {
	outline: none;
}

.container input::placeholder {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.529);
}

.container textarea::placeholder {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.529);
}

.container textarea {
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 3px;
	color: #fff;
	font-style: 15px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.555);
}

.container textarea:focus {
	outline: none;
}

.container button {
	padding: 15px;
	margin-bottom: 30px;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
	text-transform: capitalize;
	border-radius: 3px;
	background-color: #d04f29;
}

.quickLinks h3 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 1.5px;
	color: #fff;
}

.quickLinks ul li {
	text-transform: capitalize;
	margin-top: 20px;
	cursor: pointer;
	letter-spacing: 1.3px;
	font-weight: bold;
	font-size: 20px;
	color: #ccc;
}

.quickLinks ul li:hover {
	text-decoration: underline;
	color: #d04f29;
}